.container3 {
    border: 4px solid #ECF3FC;
    margin-top: 71px;
    height: 502px;
    display: flex;
    align-items: center;
    position: relative;


    @media (max-width: 992px) {

        height: auto;

    }

    @media (max-width: 768px) {
        height: auto;

    }

    .row {
        display: flex;
        justify-content: center;

        .col-md-5 {
            @media (max-width: 992px) {

                order: 1;

            }

            @media (max-width: 768px) {

                display: flex;
                justify-content: center;

            }

            @media (max-width: 768px) {
                order: 1;
            }
        }

        .col-md-6 {
            display: flex;
            justify-content: center;
            align-items: center;


            @media (max-width: 992px) {

                order: 2;

            }

            @media (max-width: 768px) {
                order: 2;
            }

            .pembungkus {
                width: 88%;

                @media (max-width: 768px) {

                    width: 100%;

                }
            }

            h1 {
                font-family: 'bebasNeue';
                font-size: 48px;
                line-height: 61px;
                letter-spacing: -0.01em;
                color: #1A3063;
                width: 70%;
                position: relative;


                @media (max-width: 992px) {

                    width: 500px;

                }

                @media (max-width: 768px) {

                    font-size: 32px;
                    line-height: normal;
                    margin-top: 30px;
                    width: 70%;

                }

                &::after {
                    content: '';
                    display: block;
                    width: 40px;
                    height: 4px;
                    position: relative;
                    background-color: #1A3063;
                    margin-top: 15px;
                    margin-bottom: 16px;
                }

            }

            .btn {
                background-color: #5F3623;
                padding: 15px 36px;
                color: white;
                font-family: 'bebasNeue';
                margin-top: 20px;

                @media (max-width: 768px) {

                    padding: 10px 30px;

                }
            }

            p {
                font-family: 'inter';
                font-size: 12px;
                color: #1A3063;
                opacity: .8;
                line-height: 22px;
                letter-spacing: 0.01em;
                width: 90%;

                @media (max-width: 992px) {

                    font-size: 16px;
                    line-height: 25px;

                }

                @media (max-width: 768px) {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }
}