@font-face {
    font-family: 'inter';
    src: url('../fonts/inter/Inter-Medium.ttf');

}
@font-face {
    font-family: 'rubik';
    src: url('../fonts/rubik/Rubik-Medium.ttf');

}
@font-face {
    font-family: 'bebasNeue';
    src: url('../fonts/bebas\ neue/BebasNeue-Regular.ttf');

}