.header {
    margin-top: 80px;

    .row {
        .col-md-10 {
            h1 {
                font-family: 'bebasNeue';
                font-size: 96px;
                color: #1A3063;
                text-align: center;
                line-height: 109px;

                @media (max-width: 992px) {

                    font-size: 85px;

                }

                @media (max-width: 768px) {

                    font-size: 40px;
                    line-height: normal;

                }


            }
        }
    }
}