.judul1 {
  margin-top: 152px;
}

@media (max-width: 992px) {
  .judul1 .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.judul1 .row .col-md-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.judul1 .row .col-md-5 .pembungkus1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: -5px;
}

.judul1 .row .col-md-5 .pembungkus1 .kotak {
  border: 6px solid #ECF3FC;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .judul1 .row .col-md-5 .pembungkus1 .kotak {
    height: 80px;
  }
}

.judul1 .row .col-md-5 .pembungkus1 .kotak h1 {
  font-family: 'bebasNeue';
  font-size: 48px;
  color: #1A3063;
  margin: 0;
}

@media (max-width: 1200px) {
  .judul1 .row .col-md-5 .pembungkus1 .kotak h1 {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .judul1 .row .col-md-5 .pembungkus1 .kotak h1 {
    font-size: 28px;
    padding: 0 15px;
  }
}

.judul1 .row .col-md-5 .pembungkus1 .pembungkus2 {
  margin-left: 48px;
}

@media (max-width: 768px) {
  .judul1 .row .col-md-5 .pembungkus1 .pembungkus2 {
    margin-left: 30px;
  }
}

.judul1 .row .col-md-5 .pembungkus1 .pembungkus2 h1 {
  font-family: 'bebasNeue';
  font-size: 48px;
  color: #1A3063;
  line-height: 61px;
  width: 300px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .judul1 .row .col-md-5 .pembungkus1 .pembungkus2 h1 {
    font-size: 32px;
    width: 100%;
    line-height: normal;
  }
}

.judul1 .row .col-md-6 .pembungkus3 {
  margin-left: 38px;
}

@media (max-width: 992px) {
  .judul1 .row .col-md-6 .pembungkus3 {
    margin-left: 0;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .judul1 .row .col-md-6 .pembungkus3 {
    margin-left: 0;
    margin-top: 25px;
  }
}

.judul1 .row .col-md-6 .pembungkus3 p {
  font-family: 'inter';
  font-size: 12px;
  color: #1A3063;
  line-height: 22px;
  opacity: .8;
  letter-spacing: 0.01em;
  width: 362px;
}

@media (max-width: 992px) {
  .judul1 .row .col-md-6 .pembungkus3 p {
    font-size: 16px;
    line-height: 25px;
  }
}

@media (max-width: 768px) {
  .judul1 .row .col-md-6 .pembungkus3 p {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
  }
}

.judul1 .row .col-md-6 .pembungkus3 .read-more {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.judul1 .row .col-md-6 .pembungkus3 .read-more a {
  font-family: 'bebasNeue';
  font-size: 16px;
  color: #1A3063;
  text-decoration: none;
}

@media (max-width: 992px) {
  .judul1 .row .col-md-6 .pembungkus3 .read-more a {
    font-size: 18px;
  }
}

.judul1 .row .col-md-6 .pembungkus3 .read-more a img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: 5.5px;
}

@media (max-width: 992px) {
  .judul1 .row .col-md-6 .pembungkus3 .read-more a img {
    width: 15px;
  }
}
/*# sourceMappingURL=judul1.css.map */